* {
    box-sizing: border-box;
    font
    margin: 0;
    padding:0;
}

/* Formattazione Header */
#header{
    height:70px;
    
}
#header-logo{
    text-align: center;
    margin: 10px 10px 10px 30px;
    vertical-align:middle;

}
#header-name {
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
    font-size: 40px;
    color: rgb(5,25,49);
}

/* Formattazione corpo della pagina */
#main-container{
    width: 1200px;
    height: 800px;
    background-color: rgb(223, 223, 223); 
    border: 2px;
    padding: 60px;
}

#task-box{
    width: 60%;
    height: auto;
    background-color: white;
    margin: 0 auto;
    padding: 20px 20px 5px 20px;
    border: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#task-box-main{
    width: 60%;
    height: auto;
    background-color: white;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border-top: 2px solid  rgb(223, 223, 223); 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}



/* Formattazione  contenuto */
.button{
    display: inline-block;
    width: auto;
    border: 2px solid rgb(172, 173, 173);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px 0;
  
}
.button-colored{
    background-color: rgb(88, 185, 245);
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid rgb(88, 185, 245);
    color: white;
    margin: 5px 0;
}

/* Formattazione attivita' varie */
h3{
    margin-bottom: 5px;
}
ul{
    list-style-type: none;
    margin-top: 5px;
}
.activities{
    line-height: 40px;
}
.activities-status{
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border: 2px solid rgb(56, 150, 56);
    border-radius: 50%;
    text-align: center;
    color: rgb(56, 150, 56);
    margin-right: 5px;
    font-size: 10px;
}
.activities-update{
    display: inline-block;
    height: 25px;
    width: 70px;
    line-height: 25px;
    border: 2px solid lightskyblue;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    background-color: lightskyblue;
    color:white;
}
.section-list-item{
    margin-top: 30px;
}  
.color-red{
    color: rgb(197, 52, 52);
    border-color: rgb(197, 52, 52);
}
#color-violet{
    background-color: violet;
    border-color: violet;
}
#color-green{
    background-color: seagreen;
    border-color: seagreen;
}
#color-orange{
    background-color: rgb(250, 163, 2);
    border-color:rgb(250, 163, 2);
}
#color-pink{
    background-color: palevioletred;
    border-color: palevioletred;
}
#color-light-green {
    background-color: lightgreen;
    border-color: lightgreen; 
}
